body {
  background: url("../images/Hex-Background.jpg") no-repeat;
}

/* Top & Bottom Bar */

#top-bar,
#bottom-bar {
  flex: 1;
  display: flex;
  background-color: black;
  padding: 0;
  margin: 0;
}

/* Top Bar */

#top-bar,
#bottom-bar {
  box-shadow: inset 0 0 6.4rem black;
}

#top-bar {
  background-color: rgba(255,255,255,.25);
}

#top-bar-apps {
  flex: 7;
}

#bottom-bar {
  background-color: rgba(255,255,255,.2);
}

.hexafied {
  background: url(../images/application_icons/blank_hexagon.png) center no-repeat;
}

.topbar-space {
  flex: 1;
  margin: 0; 
  padding: 10px;
  display: inline-flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.topbar-space:not(:last-child) {
  border-right: 1px solid black;
}

#app-grid-button, 
#home-screen-button {
  background-position: center;
  background-repeat: no-repeat;
}

#home-screen-button img,
#app-grid-button img {
  width: 80px;
}

/* Center Panel */

#center-panel {
  flex: 14;
  display: flex;
  position: relative;
  flex-direction: flex-column;
  outline: 2px solid rgba(100, 100, 100, .25);
  background: url("../images/homescreen.jpg") no-repeat;
  opacity: .8;
}

/* Layers */

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.8);
  padding: 40px 40px 0;
  box-sizing: border-box;
}

/* App Grid */

#app-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#app-grid-apps {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-bottom: 105px;
  padding-top: 60px; 
  -webkit-mask-image: -webkit-gradient(
    linear, left top, left bottom, 
    color-stop(0.00,  rgba(0,0,0,0)),
    color-stop(0.02,  rgba(0,0,0,0.75)),
    color-stop(0.05,  rgba(0,0,0,1)),
    color-stop(0.95,  rgba(0,0,0,1)),
    color-stop(0.98,  rgba(0,0,0,0.75)),
    color-stop(1.00,  rgba(0,0,0,0))
  );
}

.app-grid-icon {
  display: flex;
  height: 200px;
  flex-basis: 200px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: -25px;
  box-sizing: border-box;
  background-size: 100%;
}

.app-grid-icon img {
  flex-basis: 100px;
}

.app-grid-icon-label {
  margin: 0;
  width: 100%;
  font-size: 2.25rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 4px 4px 5px #222;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.app-grid-icon:nth-child(9n-3) {
  margin-left: 100px;
}

.app-grid-icon:nth-child(9n) {
  margin-right: 100px;
}

#app .content,
.modal .content,
#settings .content {
  flex: 1;
  padding: 20px;
}

#app .content,
#settings .content {
  margin: 20px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction : column;
  flex-grow: 1;
}

.modal .content {
  background-color: #333;
}

/* Bottom Bar */

#volume-button,
#settings-button {
  flex: 1;
}

#settings-button {
  background: url(../images/application_icons/icongear.png) no-repeat 20px center;
}

#volume-button {
  padding: 10px;
  background: url(../images/volume_bg.png) no-repeat center;
  background-size: 190px 80px;
}

#jlr-logo {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jlr-logo img {
  height: 80px;
  -webkit-filter: drop-shadow(5px 5px 8px rgba(0,0,0,.5));
}
