/* Switches ***********************************************/

.switch {
  margin: 20px;
}

/* Sizes for varying switches */

.switch-large {
  width: 300px;
  height: 150px;
} 

.switch-large .switch-control {
  -webkit-filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.35));
}

.switch-medium {
  width: 210px;
  height: 105px;
}

.switch-medium .switch-control {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.35));
}

.switch-small {
  width: 150px;
  height: 75px;
}

.switch-small .switch-control {
  -webkit-filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.35));
}

.switch-xsmall {
  width: 100px;
  height: 50px;
}

.switch-xsmall .switch-control {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.35));
}

.switch-plate {
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
}

.switch-control {
  height: 80%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: url(../images/switchcontrol.svg);
} 

/* On/Off Styles for Background Plate */

.off .switch-plate {
  padding-left: 10%;
  padding-right: 0 !important; 
  background-image: url(../images/switchplate_off.svg);
  justify-content: flex-start;
}

.on .switch-plate {
  padding-right: 10%;
  padding-left: 0 !important; 
  background-image: url(../images/switchplate_on.svg);
  justify-content: flex-end;
}

/* Close button */

.close-button::after {
  content: "\00d7";
  width: 60px;
  height: 60px;
  color: white;
  font-size: 5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  line-height: 5rem;
  justify-content: center;
  align-items: center;
}

/* Forms */

/* Text Inputs */

label {
  text-transform: uppercase;
  color: #fe9c00;
  display: block;
}

.input-group label.left-label {
  justify-content: flex-start;
}

.input-group label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.text-input {
  border: none;
  color: rgba(255,255,255,.8);
}

label,
.text-input {
  margin: 10px;
}

.text-input:focus {
  outline: none;
  color: white;
  box-shadow: 0 0 20px rgba(255,255,255,.8);
}

.input-yellow {
  color: rgba(255, 255, 178, 0.8);
}

.input-yellow:focus {
  color: #ffffb2;
  box-shadow: 0 0 20px rgba(255, 255, 178, 0.8);
}

.input-blue {
  color: rgba(178, 240, 255, 0.8);
}

.input-blue:focus {
  color: #b2f0ff;
  box-shadow: 0 0 20px rgba(178, 240, 255, 0.8);
}

.input-green {
  color: rgba(205, 255, 178, 0.8);
}

.input-green:focus {
  color: #cdffb2;
  box-shadow: 0 0 20px rgba(205, 255, 178, 0.8);
}

.input-orange {
  color: rgba(255, 211, 140, 0.8);
}

.input-orange:focus {
  color: #ffd38c;
  box-shadow: 0 0 20px rgba(255, 211, 140, 0.8);
}

/* Sliders */

.vertical-slider {
  display: flex;
  margin: 40px 0;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.horizontal-slider {
  display: flex;
  margin: 0 40px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.vertical-slider.thin-slider {
  margin: 20px 0;
}

.horizontal-slider.thin-slider {
  margin: 0 20px;
}

.vertical-slider.thick-slider {
  margin: 60px 0;
}

.horizontal-slider.thick-slider {
  margin: 0 60px;
}

.slider-channel {
  display: flex;
  justify-content: flex-end;
  box-shadow: inset 0 0 40px black;
  border: 2px solid rgba(65, 65, 65, .5);
}

.top-down-slider .slider-channel {
  justify-content: flex-start;
}

.vertical-slider .slider-channel {
  width: 40px;
  height: 100%;
  flex-direction: inherit;
}

.horizontal-slider .slider-channel {
  height: 40px;
  width: 100%;
  flex-direction: inherit;
}

.vertical-slider.thin-slider .slider-channel {
  width: 20px;
  box-shadow: inset 0 0 20px black;
}

.horizontal-slider.thin-slider .slider-channel {
  height: 20px;
  box-shadow: inset 0 0 20px black;
}

.vertical-slider.thick-slider .slider-channel {
  width: 60px;
  box-shadow: inset 0 0 60px black;
}

.horizontal-slider.thick-slider .slider-channel {
  height: 60px;
  box-shadow: inset 0 0 60px black;
}

/* Slider level preperty flex-basis controls the height 
   of the level bar and the contained slider handle */

.slider-level {
  display: flex;
  flex-basis: 0%;
  overflow: visible;
  background-color: rgba(178, 240, 255, 0.8);
  box-shadow: inset 2px 2px .5em rgba(255,255,255,.4), inset -2px -2px .5em rgba(0,0,0,.4)
}


.vertical-slider .slider-control {
  flex-direction: column;
  margin: -20% 0;
  padding: 20% 0;
}

.horizontal-slider .slider-control {
  margin: 0 -20%;
  padding: 0 20%;
}

.slider-handle {
  flex: 1;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/slider_control.png);
}

.vertical-slider .slider-handle {
  margin: -150% -100%;
  background-position: top;
}

.horizontal-slider .slider-handle {
  margin: -100% -150%;
  background-position: left;
}

.top-down-slider .slider-handle {
  background-position: bottom;
}

.slider {
  height: 20px;
}

.slider .slider-input {
}

.slider-input {
  overflow-x:hidden;
  overflow-y: visible; 
  margin: -1em 0;
  height: 200%;
  width: 100%;
  background: transparent;
  background-position: center;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.slider-input:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none; 
  /*margin: -5px;*/
  width: 40px; 
  height: 40px; 
  background: white; 
  position: relative; 
  /*z-index: 3; */
}

.slider-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: -20px 0;
  background: linear-gradient(to right, #111 0%, #111 100%); 
}

.slider-input::-webkit-slider-thumb:after {
  content: " "; 
  width: 100vw; 
  height: 50%;
  position: absolute; 
  /*z-index: 1; */
  right: 30px;
  background-position: center;
  background: linear-gradient(to right, #16a085 0%, #16a085 100%); 
}


/* Tabs */

.tabs-component {
  display: flex;
  flex-direction: column;
}

.tabs-labels {
  display: flex;
  flex: 1;
  z-index: 1;
}

.tab-item {
  flex: 1;
  background-color: #aaa;
  text-align: center;
}

.tab-item:not(:last-child) {
  margin-right: 10px;
}

.tab-item.active {
  background-color: #eee;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
  border-color: rgba(0,0,0, 0.25);
  margin-bottom: -1px;
}

.tabs-content {
  z-index: 0;
}

/* Modifiers */

.borderless {
  border: none;
}

.flex-item-2 {
  flex: 2;
}

/* Already in common.css; here for cascading */

.no-margin {
  margin: 0;
}