/* Adobe Source Sans */
/* SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007 */
/* http://scripts.sil.org/OFL */

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format(truetype);
  font-weight: 200;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Light.ttf) format(truetype);
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-LightItalic.ttf) format(truetype);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Regular.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Italic.ttf) format(truetype);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Semibold.ttf) format(truetype);
  font-weight: 600;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Bold.ttf) format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Black.ttf) format(truetype);
  font-weight: 900;
}

/* Root */

html {
  font-size: 48px;
}

/* Body */

body {
  /*background-color: #ccc;*/
  font-family: SourceSansPro, Arial, sans-serif;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: .9rem;
}

h3 {
  font-size: .8rem;
}

h4 {
  font-size: .7rem;
}

h5 {
  font-size: .6rem;
}

h6 {
  font-size: .5rem;
}

/* Body Copy */

p {
  font-size: .4rem;
  margin-bottom: 1em;
}

p.intro {
  font-size: .6rem;
  font-weight: 300;
}

/* Flow Content */

header {
  background-color: #777;
  color: #eee;
  padding: 20px; 
}
